DB_HOST=localhost
DB_NAME=skiadb
DB_USER=root
DB_PASS=

HASHIDS_SALT=replace_with_random_string

SMTP_HOST=in-v3.mailjet.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=you@example.com
SMTP_NAME=Skia